In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kieta,PG,2022-07-05 16:58:52,-6.2167,155.6333,79.02,82,100,2.62
1,1,Ulladulla,AU,2022-07-05 16:58:53,-35.3500,150.4667,55.36,83,98,9.17
2,2,Vaini,TO,2022-07-05 16:58:53,-21.2000,-175.2000,69.96,73,20,8.05
3,3,Mungwi,ZM,2022-07-05 16:58:53,-10.1732,31.3694,59.68,47,2,5.03
4,4,Kapaa,US,2022-07-05 16:58:54,22.0752,-159.3190,75.52,87,40,18.41

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kieta,PG,2022-07-05 16:58:52,-6.2167,155.6333,79.02,82,100,2.62
4,4,Kapaa,US,2022-07-05 16:58:54,22.0752,-159.3190,75.52,87,40,18.41
9,9,Asau,RO,2022-07-05 16:58:56,46.4333,26.4000,87.28,48,51,0.40
15,15,Arraial Do Cabo,BR,2022-07-05 16:58:58,-22.9661,-42.0278,85.96,42,0,12.66
19,19,Bengkulu,ID,2022-07-05 16:59:00,-3.8004,102.2655,77.23,89,100,2.84
24,24,Victoria,HK,2022-07-05 16:56:15,22.2855,114.1577,84.33,89,100,5.99
29,29,Sao Filipe,CV,2022-07-05 16:59:05,14.8961,-24.4956,75.63,81,42,6.17
30,30,Kendrapara,IN,2022-07-05 16:59:05,20.5042,86.4160,82.38,82,100,5.12
36,36,Majene,ID,2022-07-05 16:59:08,-3.5403,118.9707,78.17,88,87,7.83
38,38,Rikitea,PF,2022-07-05 16:59:09,-23.1203,-134.9692,76.21,74,40,14.81

In [19]:
preferred_cities_df.count()

City_ID       210
City          210
Country       210
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Kieta      PG     79.02  -6.2167  155.6333
4             Kapaa      US     75.52  22.0752 -159.3190
9              Asau      RO     87.28  46.4333   26.4000
15  Arraial Do Cabo      BR     85.96 -22.9661  -42.0278
19         Bengkulu      ID     77.23  -3.8004  102.2655
24         Victoria      HK     84.33  22.2855  114.1577
29       Sao Filipe      CV     75.63  14.8961  -24.4956
30       Kendrapara      IN     82.38  20.5042   86.4160
36           Majene      ID     78.17  -3.5403  118.9707
38          Rikitea      PF     76.21 -23.1203 -134.9692

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kieta,PG,79.02,-6.2167,155.6333,Uruna Bay Retreat
4,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Asau,RO,87.28,46.4333,26.4000,Casa Mika Ciobanus
15,Arraial Do Cabo,BR,85.96,-22.9661,-42.0278,Pousada Porto Praia
19,Bengkulu,ID,77.23,-3.8004,102.2655,Grage Hotel Bengkulu
24,Victoria,HK,84.33,22.2855,114.1577,Mini Central
29,Sao Filipe,CV,75.63,14.8961,-24.4956,Hotel Xaguate
30,Kendrapara,IN,82.38,20.5042,86.4160,Hotel Mayuri Palace
36,Majene,ID,78.17,-3.5403,118.9707,Kost Putri RABBANI
38,Rikitea,PF,76.21,-23.1203,-134.9692,People ThankYou

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))